/* .book *, .book *:before, .book *:after
{
   box-sizing: border-box;
} */

.book
{
   transition: opacity 0.4s 0.2s;
   perspective: 250vw;
   transform-style: preserve-3d;
   backface-visibility: hidden;
}
/* .page
{
   width: 30vw;
   height: 44vw;
   background-color: #111111;
   float: left;
   margin-bottom: 0.5em;
   background: left top no-repeat;
   background-size: cover;
} */
.book .page
{
   float: none;
   clear: none;
   position: absolute;
   transform-origin: 0 0;
   transition: transform var(--page-flip-duration);
   backface-visibility: hidden;
   transform-style: preserve-3d;
   box-sizing: border-box;
   cursor: pointer;
   user-select: none;
   background-color: #f0f0f0;
   touch-action: manipulation;
}
/* .book .page:before
{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0);
   transition: background 0.7s;
   z-index: 2;
} */



.book .page:nth-child(even)
{
   pointer-events: none;
   transform: rotateY(180deg);
   transform-origin: 100% 0;
   left: 0;
   border-radius: 4px 0 0 4px;
   background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(odd)
{
   pointer-events: all;
   transform: rotateY(0deg);
   right: 0;
   border-radius: 0 4px 4px 0;
   background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
}

/* .book .page:nth-child(even):before
{
   background: rgba(0, 0, 0, 0.2);
}
.book .page:nth-child(odd):before
{
   background: rgba(0, 0, 0, 0);
}

.book .page.flipped:nth-child(even):hover:before
{
   background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):hover:before
{
   background: rgba(0, 0, 0, 0.03);
} */

.book .page.flipped:nth-child(even)
{
   pointer-events: all;
   transform: rotateY(0deg);
}
.book .page.flipped:nth-child(odd)
{
   pointer-events: none;
   transform: rotateY(-180deg);
}

/* .book .page.flipped:nth-child(even):before
{
   background: rgba(0, 0, 0, 0);
}
.book .page.flipped:nth-child(odd):before
{
   background: rgba(0, 0, 0, 0.2);
} */

.book .page:not(.flipping):nth-last-child(1 of .flipped):hover
{
   transform: rotateY( calc(var(--page-hover-tilt)) );
}
.book .page:not(.flipping):nth-child(1 of :not(.flipped)):hover
{
   transform: rotateY( calc(0deg - var(--page-hover-tilt)) );
}

.book .page:has(+ .page:not(.flipping):nth-last-child(1 of .flipped):hover)
{
   transform: rotateY( calc(var(--page-hover-tilt) - 180deg ) );
}
.book .page:not(.flipping):nth-child(1 of :not(.flipped)):hover + .page
{
   transform: rotateY( calc(180deg - var(--page-hover-tilt)) );
}



.book .page .bookmark
{
   position: absolute;
   pointer-events: all;

   width: var(--bookmark-width);
   height: var(--bookmark-height);

   overflow: hidden;
}
.book .page .bookmark img
{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.book .page:nth-child(even) .bookmark
{
   left:  calc( var(--bookmark-inset) - var(--bookmark-width) );
   width: var(--bookmark-width);

   transform: rotateY(180deg);
}
.book .page:nth-child(odd) .bookmark
{
   right: calc( var(--bookmark-inset) - var(--bookmark-width) );
   width: var(--bookmark-width);

   transform: rotateY(0deg);
}