:root
{
   --page-width: 30vw;
   --page-height: 40vw;

   --bookmark-width: 5vw;
   --bookmark-height: 4vw;
   --bookmark-inset: 1vw;

   --page-hover-tilt: 15deg;
}

html, body
{
   margin: 0;
   padding: 0;
   height: 100%;
   background: #333;
}

.book
{
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   width: calc( var(--page-width) * 2 );
   height: var(--page-height);
}

.page
{
   width: var(--page-width);
   height: var(--page-height);
   padding: 1em;
}

.book .page .bookmark:has(img[src*="javascript"]) { top: 5%  }
.book .page .bookmark:has(img[src*="python"])     { top: 20% }
.book .page .bookmark:has(img[src*="csharp"])     { top: 35% }
.book .page .bookmark:has(img[src*="cplusplus"])  { top: 50% }

md-block
{
   text-align: center;
   overflow: hidden;
   font-size: 1vw;
}