html, body
{
   margin: 0;
   padding: 0;
   height: 100%;
   background: #333;
}

.book
{
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   width: 60vw;
   height: 40vw;
}
.book .page
{
   padding: 1em;
}
.book .page .bookmark
{
   visibility: hidden;
}



.book .page
{
   font-family: "Open Sans";
   font-size: 1vw;
   text-align: center;
}

.book .page header
{
   font-size: 2em;
   margin-top: 0.67em;
   margin-bottom: 0.67em;
   margin-left: 0;
   margin-right: 0;
   font-weight: bold;
}
.book .page footer
{
   position: absolute;
   bottom: 0;
   padding: 1em;
   color: black;
   font-size: 0.8em;
   text-align: center;
}
.book .page:nth-child(even) footer
{
   left: 0;
}
.book .page:nth-child(odd) footer
{
   right: 0;
}